/* line 1, ../../tools/compass/sass/_index.scss */
body {
  padding-top: 49px;
  background-color: #f2f2f2;
  color: #003300;
}

/* line 6, ../../tools/compass/sass/_index.scss */
img {
  max-width: 100%;
}

/* line 9, ../../tools/compass/sass/_index.scss */
.pwd-error {
  color: red;
  text-align: center;
}

/* line 13, ../../tools/compass/sass/_index.scss */
.nav-choices {
  margin-top: 15px;
  padding-right: 10px;
}

/* line 17, ../../tools/compass/sass/_index.scss */
.hello {
  color: white;
  margin-top: 15px;
}

/* line 21, ../../tools/compass/sass/_index.scss */
.navbar-default .navbar-nav > li > a {
  color: white;
  text-decoration: none;
}
/* line 24, ../../tools/compass/sass/_index.scss */
.navbar-default .navbar-nav > li > a:visited {
  color: white;
}
/* line 27, ../../tools/compass/sass/_index.scss */
.navbar-default .navbar-nav > li > a:link {
  color: white;
}
/* line 30, ../../tools/compass/sass/_index.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: white;
  border: 1px solid white;
}

/* line 37, ../../tools/compass/sass/_index.scss */
.navbar {
  min-height: 100px;
  padding-top: 5px;
  padding-bottom: 3px;
  text-align: center;
  background-color: #003300;
}
/* line 43, ../../tools/compass/sass/_index.scss */
.navbar img {
  display: block;
  margin-top: 2px;
  height: 70px;
}

/* line 49, ../../tools/compass/sass/_index.scss */
button.btn {
  background-color: #003300;
}

/* line 52, ../../tools/compass/sass/_index.scss */
.footer {
  margin-top: 50px;
}

/* line 1, ../../tools/compass/sass/_home.scss */
.header {
  margin-top: 50px;
  background: url("../../assets/img/grind.jpg") no-repeat;
  background-size: cover;
  font-weight: bold;
  font-size: 60px;
  color: #ffffff;
  height: 220px;
}

/* line 12, ../../tools/compass/sass/_home.scss */
.how {
  margin-top: 4px;
  font-size: 20px;
  color: #86582d;
}

/* line 18, ../../tools/compass/sass/_home.scss */
.arrow-holder {
  height: 10px;
  width: 10px;
  margin: auto;
}
/* line 22, ../../tools/compass/sass/_home.scss */
.arrow-holder .arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-top: 10px;
}

/* line 32, ../../tools/compass/sass/_home.scss */
.steps {
  color: white;
  font-size: 10px;
  margin-bottom: 10px;
}

/* line 38, ../../tools/compass/sass/_home.scss */
#step-one:before, #step-three:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 10px solid #f2f2f2;
  border-right: 10px solid transparent;
  width: 0;
}

/* line 46, ../../tools/compass/sass/_home.scss */
#step-one {
  background: url("../../assets/img/CoffeeBags.jpg") no-repeat;
  background-size: cover;
}
/* line 50, ../../tools/compass/sass/_home.scss */
#step-one .arrow-holder .arrow-down {
  border-top: 20px solid tan;
}

/* line 55, ../../tools/compass/sass/_home.scss */
#step-two {
  margin-top: 5px;
  color: grey;
  padding: 0;
}
/* line 59, ../../tools/compass/sass/_home.scss */
#step-two img {
  display: block;
  transform: rotate(-20deg);
  height: 120px;
  margin-top: 25px;
  border: 2px solid white;
}

/* line 69, ../../tools/compass/sass/_home.scss */
#step-three {
  margin-top: 20px;
  background-color: black;
  position: relative;
  height: 140px;
}
/* line 74, ../../tools/compass/sass/_home.scss */
#step-three img {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  height: 95%;
}
/* line 82, ../../tools/compass/sass/_home.scss */
#step-three .arrow-holder .arrow-down {
  border-top: 20px solid black;
}

/* line 88, ../../tools/compass/sass/_home.scss */
#get-started {
  margin-top: 20px;
  text-align: center;
}

/* line 1, ../../tools/compass/sass/_register.scss */
.register {
  margin-top: 35px;
}

/* line 1, ../../tools/compass/sass/_login.scss */
.login {
  margin-top: 30px;
}

/* line 4, ../../tools/compass/sass/_login.scss */
.login-wrapper {
  margin-top: 20px;
}

/* line 1, ../../tools/compass/sass/_delivery.scss */
.delivery {
  margin-top: 35px;
}

/* line 4, ../../tools/compass/sass/_delivery.scss */
#delivery-form .zip-wrap {
  display: block !important;
}

/* line 7, ../../tools/compass/sass/_delivery.scss */
.delivery-wrapper {
  width: 60%;
  margin-top: 20px;
  border: 1px solid lightgrey;
}
/* line 11, ../../tools/compass/sass/_delivery.scss */
.delivery-wrapper div {
  margin-left: 10px;
  margin-bottom: 10px;
}
/* line 15, ../../tools/compass/sass/_delivery.scss */
.delivery-wrapper input {
  width: 50%;
  vertical-align: middle;
}
/* line 19, ../../tools/compass/sass/_delivery.scss */
.delivery-wrapper input#zip {
  width: 20%;
}
/* line 22, ../../tools/compass/sass/_delivery.scss */
.delivery-wrapper input#date {
  width: 30%;
}
/* line 26, ../../tools/compass/sass/_delivery.scss */
.delivery-wrapper select {
  width: 200px;
  vertical-align: middle;
}

/* line 34, ../../tools/compass/sass/_delivery.scss */
.button-holder {
  margin-top: 10px;
}

/* line 2, ../../tools/compass/sass/_options.scss */
.options {
  margin-top: 51px;
  color: #000;
}
/* line 5, ../../tools/compass/sass/_options.scss */
.options .grey-header {
  background-color: lightgrey;
}
/* line 8, ../../tools/compass/sass/_options.scss */
.options .plans {
  margin-top: 20px;
}
/* line 11, ../../tools/compass/sass/_options.scss */
.options .order-card {
  background-color: white;
  border: 1px solid white;
  box-shadow: 1px 1px 1px lightgrey;
}
/* line 15, ../../tools/compass/sass/_options.scss */
.options .order-card .order-cost {
  margin-top: 15px;
}
/* line 19, ../../tools/compass/sass/_options.scss */
.options .select-grind {
  height: 25px;
  margin-bottom: 5px;
}
