
    <div class="container-fluid">
        <div class="row header">
            <div class="col-sm-12">
                <h2>A better way to grind!</h2>
                <h5>Freshly roasted coffee beans delivered weekly to your door.</h5>
            </div>
        </div>
        <div class="row how">
            <div class="col-sm-12 text-center">
                <p>How It Works</p>
            </div>
        </div>
        <div class="row">
            <div id="step-one" class="col-sm-12 steps">
                <h3 class="title">1. We get the coffee</h3>
                <p>Each bean is hand selected</p>
                <p>Each bean is measured for precise size</p>
                <p>Each bean is tenderly caressed</p>
                <!-- <div class="col-sm-6 col-sm-offset-6 arrow-holder">
                    <div class="arrow-down"></div>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div id="step-two" class="col-sm-12 steps">
                <div class="col-sm-2"><img src="img/grower.jpg"></div>
                <div class="col-sm-9">
                    <h3>2. We pick up the coffee</h3>
                    <p> We place the coffee in bags</p>
                    <p> Each bag is transported in climate-controlled trucks</p>
                    <p> Every six hours the bags are rotated to keep the beans uniform and delicious</p>
                </div>
                <!-- <div class="col-sm-6 col-sm-offset-6 arrow-holder">
                    <div class="arrow-down"></div>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div id="step-three" class="col-sm-12 steps"><img src="img/cupSteam.jpg">
                <h3>3. You drink the coffee</h3>
                <p>The coffee tastes delicious</p>
                <p>You want more coffee!!</p>
                <p>Get it NOW!</p>
                <!-- <div class="col-sm-6 col-sm-offset-6 arrow-holder">
                    <div class="arrow-down"></div>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div id="get-started" class="col-sm-12">
                <a href="#/register">
                    <button type="button" class="btn btn-primary">Get Started</button>
                </a>
            </div>
        </div>
    </div>
