extends layout

block content
	div.container-fluid
		.row
			.col-sm-6.col-sm-offset-3.text-center
				h1 Login
				h4 Enter your username and password
		.row
			.col-sm-6.col-sm-offset-3.login-wrapper.text-center
				if (failure)
					h2.pwd-error Invalid Username and/or Password.
				form(role="form", action="/login", method="post", id="registration-form" name="registration")
					.form-group
						label Username
						input.form-control(type="text", name="username", placeholder="John Smith", minlength="5")
					.form-group
						label Password
						input.form-control(type="password", name="password", placeholder="6 character min", minlength="6")
					.button-holder
						button.btn.btn-success(type="submit") Login
