extends layout

block content
	div.container-fluid
		.row
			.col-sm-6.col-sm-offset-3.text-center
				h1 Registration
				h4 Pick a username and password
		.row
			.col-sm-6.col-sm-offset-3.registration-wrapper.text-center
				if (failure)
					h2.pwd-error You must enter the same password in both fields.
				form(role="form", action="/register", method="post", id="registration-form" name="registration")
					.form-group
						label Username
						input.form-control(type="text", name="username", placeholder="John Smith", minlength="5")
					.form-group
						label Password
						input.form-control(type="password", name="password", placeholder="6 character min", minlength="6")
					.form-group
						input.form-control(type="password", name="password2", placeholder="confirm password", minlength="6")
					.form-group
						label Email
						input.form-control(type="email", name="email", placeholder="example@example.com")
					.button-holder
						button.btn.btn-success(type="submit") Register




